.editor {
  box-sizing: border-box;
  cursor: text;
  background: whitesmoke;
}

.editorFull {
  padding: 15px;
  margin-top: 3.5vh;
  box-sizing: border-box;
  cursor: text;
  background: whitesmoke;
  border: 2px solid grey;
  border-radius: 5px;
}

.editorFull :global(.public-DraftEditor-content) {
  min-height: 260px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}
